<div class="app__content" [ngClass]="'app--' + gameLevel">
    <!-- <header>
        <div class="menu">
            <button #commandsButton type="button" class="button button--link" (click)="toggleGameCommandsModal()">Game commands</button>
        </div>
    </header> -->
    
    <section class="board">
        <header class="board__header">
            <div class="round_heading" *ngIf="round!=-99 && round==0">Demo Round</div>
            <div class="round_heading" *ngIf="round!=-99 && round!=0">Round: {{ round }}</div>
            <div class="board__dynamic-infos">
                
                <div class="board__dynamic-info">
                    <img class="board__dynamic-info-img board__flag-img"
                        src="/projects/minesweeper/assets/emojis/Flag.png" alt="Amount of flags left">
                    <span class="board__dynamic-info-text">{{ flagsAvailable$ | async | stopwatch:'00' }}</span>
                </div>

                <div class="board__dynamic-info">
                    <img class="board__dynamic-info-img board--stopwatch-img" src="/projects/minesweeper/assets/emojis/Clock.png"
                        alt="Timer">
                    <span class="board__dynamic-info-text">{{ timer | stopwatch:'000'}}</span>
                </div>

                <div class="board__dynamic-info">
                    <img class="board__dynamic-info-img board--stopwatch-img" src="/projects/minesweeper/assets/emojis/Clicks.png"
                        alt="Timer">
                    <span class="board__dynamic-info-text">{{ clicks }}</span>
                </div>

            </div>
        </header>

        <main class="board__main" [ngClass]="[gameStatus ? gameStatus : '']">
            <div class="board__inner" (contextmenu)="onContextMenu($event)" #boardInner>
                <section *ngFor="let row of boardParsed; trackBy: trackByRow" class="row">
                    <app-cell *ngFor="let cell of row; trackBy: trackByCell"
                        [cell]="cell"
                        [vertical]="vertical"
                        [horizontal]="horizontal"
                        [smallScreenCellSize]="smallScreenCellSize"
                        (open)="onOpenCell($event)"
                        (changeFlagsAvailable)="onChangeFlagsAvailable($event)"
                        (changeEmojiFace)="onChangeEmojiFace($event)">
                    </app-cell>
                </section>
            </div>
        </main>
    </section>
</div>

<div class="modal" [ngClass]="{'modal-is-open': gameCommandsModalIsOpen}">
    <div class="modal__wrap">
        <header id="modal-header" class="modal__header">
            <h2 class="modal__title">{{ message }}</h2>
        </header>
        <footer class="modal__footer">
            <!-- focus commandsModalButton -->
            <button #commandsModalButton type="button" class="button button--regular button--regular-default"
                tabindex="-1" (click)="toggleGameCommandsModal()" autofocus>
                {{ buttonMessage }}
            </button>
        </footer>
    </div>
</div>